
<div class= "home">
	<h2> Welcome to  FridgeRaider.</h2><br>
	<h5>Let's get started!</h5>
</div>

<div class= 'css-carousel'>
	<img class= "css-img" src= "assets/appetizer.jpg"/>
	<img class= "css-img"  src= "assets/breakfast.jpg"/>
	<img class= "css-img" src= "assets/cocktail.jpg"/>
	<img class= "css-img" src= "assets/goulash.jpg"/>
	<img class= "css-img" src= "assets/pho.jpg"/>
	<img class= "css-img" src= "assets/quesadilla.jpg"/>
	<img class= "css-img" src= "assets/soup.jpg"/>
	<img class= "css-img" src= "assets/vegetarian.jpg"/>
	<img class= "css-img" src= "assets/waffle.jpg"/>

</div>
			
