<h1>Listing cuisines</h1>

  <select cuisine="cuisine_id">
    <% @cuisines.each do |cuisine| %>
      <option value="<%= cuisine.id %>"><%= cuisine.name %></option>
    <% end %>
    </select>
<br>

<%= link_to 'New Ingredients', new_ingredient_path %>
